Untracked files:
  (use "git add <file>..." to include in what will be committed)
        ../.VirtualBox/
        ../.bash_history
        ../.gitconfig
        ../.ipython/
        ../.jupyter/
        ../.packettracer
        ../.swt/
        ../.vscode/
        ../3D Objects/
        ../AppData/
        ../Cisco Packet Tracer 8.2.2/
        ../Contacts/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../GNS3/
        ../IntelGraphicsProfiles/
        ../Links/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{542e7e6e-ca1f-11ee-abee-a46bb6773877}.TM.blf
        ../NTUSER.DAT{542e7e6e-ca1f-11ee-abee-a46bb6773877}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{542e7e6e-ca1f-11ee-abee-a46bb6773877}.TMContainer00000000000000000002.regtrans-ms
        ../NTUSER.DAT{71a30013-f307-11ed-abdf-db15e723c740}.TM.blf
        ../NTUSER.DAT{71a30013-f307-11ed-abdf-db15e723c740}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{71a30013-f307-11ed-abdf-db15e723c740}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../Saved Games/
        ../Searches/
        ../Videos/
        ../VirtualBox VMs/
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
